$black: #0E1014;
$dark-gray: #656566;
$gradient-welbex: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%);
$gradient-consult: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
$light-text: #E4E5EA;
$btn-bg: #4077F3;